@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.games-container {
    margin: 15px;
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: auto; 
}

/* Estilos de la tabla */
.games-table {
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    border-collapse: collapse;
    margin: auto;
    max-height: 200px; 
    align-self: center;
}

.thead-Table {
    background-color: #9454add2;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}

/* Estilos de las celdas del encabezado */
.games-table th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
}

/* Estilos de las celdas de datos */
.games-table td {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Estilos para el menú desplegable de filtros */
.filter-dropdown {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.filter-dropdown label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-dropdown select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

  /* Estilos para las opciones del menú desplegable */
.filter-dropdown select option {
    background-color: #c38bff6e;
}

/* Estilos para los controles de paginación */
.pagination {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para los botones de paginación */
.pagination button {
    background-color: #6934a16e;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #c38bff6e;
}

.pagination input {
    width: 50px;
    text-align: center;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px
}

/* Estilos para la página actual y el número total de páginas */
.pagination span {
    font-weight: bold;
    margin: 0 5px;
}

/*Estilo para mensajes*/
.format{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-size: 20px;
    background-color: #c38bff6e;

}