@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.tittle {
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    text-align: center;


}

.tableLeagueContainer {
    margin: 15px;
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: auto; 
}

.tableLeague {
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    border-collapse: collapse;
    margin: auto;
    max-height: 200px; 
    align-self: center; 
}

.theadTable {
    background-color: #9454add2;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}


.thTable,
.tdTable {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
}

.tbodyTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .tableLeagueContainer {
        max-height: none; /* Ajusta según sea necesario para pantallas más pequeñas */
        overflow-x: auto;
    }

    .table {
        margin: auto;
        max-height: none; 
        overflow-x: auto;
    }

    .theadTable,
    .tbodyTable,
    .trTable,
    .thTable,
    .tdTable {
        display: block;
        width: 100%;
    }

    .thTable,
    .tdTable {
        text-align: center;
    }
}

.control-btn {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: block;
    border: none;
    background-color: white;
    padding: 10px 10px 10px;
    border-radius: 15px;
    cursor: pointer;
    color: #7439db;
    transition-duration: 0.4s;
    margin-top: 10px;
}

.control-btn:hover {
    color: #7439db;
    background-color: rgb(225, 192, 255);
}

.controlShow {
    font-size: 14px;
    font-weight: bold;
    width: auto;
    min-width: 100px;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
    display: block;
    border: none;
    background-color: white;
    padding: 10px 10px 10px;
    border-radius: 15px;
    cursor: pointer;
    color: #7439db;
    transition-duration: 0.4s;
    margin: auto;
}

.controlShow:hover {
    color: #7439db;
    background-color: rgb(225, 192, 255);
}


