@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.tableContainer {
    margin: 15px;
    max-height: 400px; 

    
}

.search {
    margin: 10px 10px 10px 30px;
}

.tableuser {
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    border-collapse: collapse;
    margin: auto;
    max-height: 200px; 
    align-self: center; 
}

.tableThead {
    background-color: #9454add2;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}


.tableTh,
.tableTd {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-size: 14px;
    text-align: center;
}

.tableTbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos responsive */
@media (max-width: 768px) {
    .tableContainer {
        max-height: none; /* Ajusta según sea necesario para pantallas más pequeñas */
        overflow-x: auto;
    }

    .table {
        margin: auto;
        max-height: none; 
        overflow-x: auto;
    }

    .tableThead,
    .tableTbody,
    .tableTr,
    .tableTh,
    .tableTd {
        display: block;
        width: 100%;
    }

    .tableTh,
    .tableTd {
        text-align: center;
    }
}

.btn-control {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: block;
    border: none;
    background-color: white;
    padding: 10px 10px 10px;
    border-radius: 15px;
    cursor: pointer;
    color: #7439db;
    transition-duration: 0.4s;
    margin-top: 10px;
}

.btn-control:hover {
    color: #7439db;
    background-color: rgb(225, 192, 255);
}




